#sidebar{
    background-color: rgb(228, 228, 228);
   padding-top: 20px;
   padding-bottom: 20px;
}
#photos{
    margin-top: 40px;
}
#sidebar ul{
    margin-top: 40px;
}

#content{
    padding-bottom: 50px;
}
#miniature{
    margin-top: 20px;
}

@media screen and (max-width: 991px) {
    img{
       margin-top: 40px;
    }
    button{
        margin-top:10px;
    }
}