#sidebar{
    background-color: grey;
    height:300px;
}
#photos{
    margin-top: 40px;
}
svg{
    width: 20px;
}
@media screen and (max-width: 991px) {
    img{
       margin-top: 40px;
    }
    button{
        margin-top:10px;
    }
}